.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
  // background-color: #a4aaae;

  .topo{
    display: flex;
    align-items: flex-start;

    h2{
      width: 80%;
      text-align: center;
      font-weight: 400;
      margin: 3% 0 0 0;
    }
  }

  form {
      display: flex;
      flex-direction: column;
      padding: 0.75rem;
      height: 80%;

      ion-input{
        margin-bottom: 0.5rem;
        --padding-start: 0.75rem;
        border-color: #3b4588;
      }
  }
}
