<ion-content [fullscreen]="true">
  <ion-img
    class="home-image"
    src="../../assets/store.png"
  ></ion-img>

  <div class="inferior">
    <button class="btn" routerLink="/new-client">Novo Cliente</button>
    <button class="btn btn-d" disabled>Clientes Cadastrados <br> Em breve...</button>
  </div>

</ion-content>

<!-- 
  <ion-grid>
      <ion-row>
        <ion-col class="col-center">
          <ion-button class="btn" routerLink="/login"
            >Novo Cliente</ion-button
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="col-center">
          <ion-button class="btn" routerLink="/register"
            >Clientes Cadastrados</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>    
 -->